services:
  assistant_app:
    build: .
    env_file:
      - .env
    restart: unless-stopped
    ports:
      - "${PORT}:8000"
    volumes:
      - data:/code/data
    networks:
      - redis-net

  redis:
    image: redis:8
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - redis-net

volumes:
  data:
  redis_data:

networks:
  redis-net:
    external: true
