version: '3.8'
services:
  redis:
    image: redis:8
    container_name: redis_server
    ports:
      - "127.0.0.1:6379:6379"  # только доступ изнутри сервера
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  redis_data:
